
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* @model WebAppBanHang.Models.Entity.User *@
@model WebAppBanHang.ViewModels.AllTablesViewModel

<!-- Tab Index -->
<div class="row">
    <!-- Sidebar bên trái -->
    @* <div class="left-area col-md-2"> *@
    <div class="left-area">
        <h4>Danh mục</h4>
        <ul class="list-group">
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('tableuser')"> Table User </a> </li>
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('tableproduct')"> Table Product </a></li>
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('tableorder')"> Tab Order </a></li>    
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('tableorderdetail')"> Tab OrderDetail </a></li>
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('tablediscount')"> Tab Discount </a></li>
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('tableproductdiscount')"> Tab ProductDiscount </a></li>
        </ul>
    </div>

    <!-- Phần hiển thị chính -->
    @* <div center-area class="col-md-10 text-break overflow-auto p-3" style="max-width: 100%;"> *@
    <div class="center-area">
        @* <h2>Danh Sách Thông tin Người Dùng</h2> *@
        <div id="content-area"></div>
        <!--Nut button-->
        <div class="flex justify-content-between py-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">Add User</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">Add Product</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#discountModal">Add Discount</button>
        </div>
        <!-- Nội dung riêng của Điện thoại -->
        <div class="flex justify-content-between py-2">
            <table class="table table-bordered">
                <thead id="tableHead">
                    @* <tr>
                        <th scope="col">Number</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Password</th>
                        <th scope="col">FullName</th>
                        <th scope="col">DateOfBirth</th>
                        <th scope="col">Email</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Even</th>
                    </tr> *@
                </thead>
                <tbody id="datatable">
                </tbody>

            </table>

        </div>
    </div>
</div>

<!--TAB HIDDEN-->
<!--USER-->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="userid" hidden class="form-control"> <!--id mđ ẩn đi-->
                <form id="adminForm"  method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" name="username" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <input id="role" name="role" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="fullname" class="form-label">FullName</label>
                        <input id="fullname" name="fullname" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="dateofbirth" class="form-label">Date Of Birth</label>
                        <input id="dateofbirth" name="dateofbirth" type="date" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="phonenumber" class="form-label">PhoneNumber</label>
                        <input id="phonenumber" name="phonenumber" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="user_isactive" class="form-label">isActive</label>
                        <input id="user_isactive" name="user_isactive" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="addUserAdmin()">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--PRODUCT-->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="productid" hidden class="form-control"> <!--id mđ ẩn đi-->
                <form id="productForm" method="post">                    
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" name="name" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input id="description" name="description" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" name="price" type="number" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="stockquantity" class="form-label">StockQuantity(Can't be negative)</label>
                        <input id="stockquantity" name="stockquantity" type="number" class="form-control">
                    </div>                    
                    <div class="mb-3">
                        <label for="product_isactive" class="form-label">isActive</label>
                        <input id="product_isactive" name="product_isactive" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="addProductAdmin()">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--DISCOUNT FOR PRODUCT-->
<div class="modal fade" id="discountproductModal" tabindex="-1" aria-labelledby="discountproductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountproductModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="discount_productid" hidden class="form-control"> <!--id mđ ẩn đi-->
                <form id="DiscountProductForm" method="post">
                    <div class="mb-3">
                        <label for="discount_name" class="form-label">Name</label>
                        <input id="discount_name" name="discount_name" type="text" class="form-control">
                    </div>     
                    @* <div class="mb-3">
                        <label for="discountproduct" class="form-label">Discount</label>
                        <input id="discountproduct" name="discountproduct" type="number" class="form-control">
                    </div> *@
                    <div class="mb-3">
                        <label for="discountproduct" class="form-label">Discount</label>
                        <select id="discountproduct" name="discountproduct" class="form-select">
                            <option value="">-- Chọn mức giảm giá --</option>
                            @if (Model.Discounts != null)
                            {
                                foreach (var discount in Model.Discounts)
                                {
                                    <option value="@discount.DiscountId">@discount.Code: @discount.DiscountPercent%</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="discountproduct_isactive" class="form-label">isActive</label>
                        <input id="discountproduct_isactive" name="discountproduct_isactive" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="updateDiscountForm()">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--DISCOUNT-->
<div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discountModalLabel">Add Discount</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="discountid" hidden class="form-control"> <!--id mđ ẩn đi-->
                <form id="discountForm" method="post">
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <input id="code" name="code" type="text" class="form-control">
                    </div>    
                    <div class="mb-3">
                        <label for="discount_description" class="form-label">Description</label>
                        <input id="discount_description" name="discount_description" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="discountpercent" class="form-label">DiscountPercent</label>
                        <input id="discountpercent" name="discountpercent" type="number" class="form-control" placeholder="Nhập 10 -> 10%">
                    </div>
                    <div class="mb-3">
                        <label for="startdate" class="form-label">Start Date</label>
                        <input id="startdate" name="startdate" type="date" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="enddate" class="form-label">End Date</label>
                        <input id="enddate" name="enddate" type="date" class="form-control">
                    </div>                    
                    <div class="mb-3">
                        <label for="discount_isactive" class="form-label">isActive</label>
                        <input id="discount_isactive" name="discount_isactive" type="text" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="addDiscountAdmin()">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function changeContent(content) { //Selection-Buttons
            console.log("Change content to: ", content);
            const contentArea = document.getElementById("content-area");
            switch (content) {
                case 'tableuser':
                    contentArea.innerHTML = '<h3>USER</h3>';
                    $(document).ready(function() {
                        renderTableUserAdmin();
                    });
                    function renderTableUserAdmin(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">UserId</th>
                                <th scope="col">UserName</th>
                                <th scope="col">Password</th>
                                <th scope="col">Role</th>
                                <th scope="col">FullName</th>
                                <th scope="col">DateOfBirth</th>
                                <th scope="col">Email</th>
                                <th scope="col">PhoneNumber</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">UpdatedAt</th>
                                <th scope="col">IsActive</th>
                                <th scope="col">Even</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/GetUser',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.userId}</td>
                                                <td>${item.userName}</td>
                                                <td>${item.password}</td>
                                                <td>${item.role}</td>
                                                <td>${item.fullName}</td>
                                                <td>${item.dateOfBirth}</td>
                                                <td>${item.email}</td>
                                                <td>${item.phoneNumber}</td>
                                                <td>${item.createdAt}</td>
                                                <td>${item.updatedAt}</td>
                                                <td>${item.isActive}</td>
                                                <td>
                                                <a href="javascript:void(0);" class="px-2" onclick="deleteUserAdmin('${item.userId}')">
                                                    Delete
                                                </a>
                                                <a href="javascript:void(0);" class="px-2" onclick="updateUserAdmin('${item.userId}')">
                                                    Edit
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                                console.log("Lỗi khi gọi GetUser:", error); 
                            }
                        });
                    }
                    break;
                case 'tableproduct':
                    contentArea.innerHTML = '<h3>PRODUCT</h3>';
                    $(document).ready(function() {
                        renderTableProductAdmin();
                    });
                    function renderTableProductAdmin(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">ProductId</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">StockQuantity</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">UpdatedAt</th>
                                <th scope="col">IsActive</th>
                                <th scope="col">Even</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/GetProducts',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.productId}</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.createdAt}</td>
                                                <td>${item.updatedAt}</td>
                                                <td>${item.isActive}</td>
                                                <td>
                                                <a href="javascript:void(0);" class="px-2" onclick="deleteProductAdmin('${item.productId}')">
                                                    Delete
                                                </a>
                                                <a href="javascript:void(0);" class="px-2" onclick="updateProductAdmin('${item.productId}')">
                                                    Edit
                                                </a>
                                                </td>
                                                <td>
                                                <a href="javascript:void(0);" class="px-2" onclick="addDiscountProduct('${item.productId}')">
                                                    Add Discount
                                                </a>
                                                <a href="javascript:void(0);" class="px-2" onclick="updatedDiscount('${item.productId}')">
                                                    Update Discount
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                                console.log("Lỗi khi gọi GetProduct:", error);
                            }
                        });
                    }
                    break;
                case 'tableorder':
                    contentArea.innerHTML = '<h3>ORDER</h3>';
                    $(document).ready(function() {
                        renderTableOrderAdmin();
                    });
                    function renderTableOrderAdmin(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">OrderId</th>
                                <th scope="col">UserId</th>
                                <th scope="col">Status</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">OrderDate</th>
                                <th scope="col">TotalAmount</th>
                                <th scope="col">IsActive</th>
                                //<th scope="col">Even</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/GetOrders',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.orderId}</td>
                                                <td>${item.userId}</td>
                                                <td>${item.status}</td>
                                                <td>${item.createdAt}</td>
                                                <td>${item.orderDate}</td>
                                                <td>${item.totalAmount}</td>
                                                <td>${item.isActive}</td>
                                                <td>
                                                <a href="javascript:void(0);" class="px-2" onclick="deleteOrderAdmin('${item.orderId}')">
                                                    Delete
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                                console.log("Lỗi khi gọi Order:", error);
                            }
                        });
                    }
                    break;
                case 'tableorderdetail':
                    contentArea.innerHTML = '<h3>ORDERDETAIL</h3>';
                    $(document).ready(function() {
                        renderTableOrderDetailAdmin();
                    });
                    function renderTableOrderDetailAdmin(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">ProductId</th>
                                <th scope="col">OrderId</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">DiscountId</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">UpdatedAt</th>
                                <th scope="col">IsActive</th>
                                <th scope="col">Even</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/GetOrderDetails',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.productId}</td>
                                                <td>${item.orderId}</td>
                                                <td>${item.quantity}</td>
                                                <td>${item.price}</td>
                                                <td>${item.discountId}</td>
                                                <td>${item.createdAt}</td>
                                                <td>${item.updatedAt}</td>
                                                <td>${item.isActive}</td>
                                                <td>
                                                <a href="javascript:void(0);" class="px-2" onclick="deleteProductAdmin('${item.productId}')">
                                                    Delete
                                                </a>
                                                <a href="javascript:void(0);" class="px-2" onclick="updateProductAdmin('${item.productId}')">
                                                    Edit
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                                console.log("Lỗi khi gọi GetProduct:", error);
                            }
                        });
                    }
                    break;
                case 'tablediscount':
                    contentArea.innerHTML = '<h3>DISCOUNT</h3>';
                    $(document).ready(function() {
                        renderTableDiscountAdmin();
                    });
                    function renderTableDiscountAdmin(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">DiscountId</th>
                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                                <th scope="col">DiscountPercent</th>
                                <th scope="col">StartDate</th>
                                <th scope="col">EndDate</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">UpdatedAt</th>
                                <th scope="col">IsActive</th>
                                <th scope="col">Even</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/GetDiscounts',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.discountId}</td>
                                                <td>${item.code}</td>
                                                <td>${item.discountDescription}</td>
                                                <td>${item.discountPercent}%</td>
                                                <td>${item.startDate}</td>
                                                <td>${item.endDate}</td>
                                                <td>${item.createdAt}</td>
                                                <td>${item.updatedAt}</td>
                                                <td>${item.isActive}</td>
                                                <td>
                                                <a href="javascript:void(0);" class="px-2" onclick="deleteDiscountAdmin('${item.discountId}')">
                                                    Delete
                                                </a>
                                                <a href="javascript:void(0);" class="px-2" onclick="updateDiscountAdmin('${item.discountId}')">
                                                    Edit
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                                console.log("Lỗi khi gọi GetProduct:", error);
                            }
                        });
                    }
                    break;
                case 'tableproductdiscount':
                    contentArea.innerHTML = '<h3>PRODUCT DISCOUNT</h3>';
                    $(document).ready(function() {
                        renderTableProductDiscountAdmin();
                    });
                    function renderTableProductDiscountAdmin(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">ProductDiscountId</th>
                                <th scope="col">ProductId</th>
                                <th scope="col">DiscountId</th>
                                <th scope="col">CreatedAt</th>
                                <th scope="col">UpdatedAt</th>                                
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/GetProductDiscounts',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.productDiscountId}</td>
                                                <td>${item.productId}</td>
                                                <td>${item.discountId}</td>
                                                <td>${item.createdAt}</td>
                                                <td>${item.isActive}</td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                                console.log("Lỗi khi gọi GetUser:", error);
                            }
                        });
                    }
                    break;
                default:
                    contentArea.innerHTML = "<h3>Danh Sách Thông tin Người Dùng</h3>";
            }
        }
        // Function USER
        function addUserAdmin() {
            let userid = $("#userid").val();
            console.log("UserID: ", userid)
            let username = $("#username").val();
            let password = $("#password").val();
            let role = $("#role").val();
            let fullname = $("#fullname").val();
            let dateofbirth = $("#dateofbirth").val();
            let email = $("#email").val();
            let phonenumber = $("#phonenumber").val();
            let isactive = $("#user_isactive").val();

            $.ajax({
                url:userid=="" ? '/Home/AddUserAdmin' : '/Home/UpdateUserAdmin/' + userid,
                type:userid=="" ? 'POST' : 'PUT',
                data: {
                    UserName: username,
                    Password: password,
                    Role: role,
                    FullName: fullname,
                    DateOfBirth: dateofbirth,
                    Email: email,
                    PhoneNumber: phonenumber,
                    IsActive: isactive
                },
                success: function (data) {
                    console.log(data);
                    console.log("Lay thanh cong");
                    $("#userModal").modal('hide');// an mmodel da tao di
                    console.log("an form");
                    resetFormUser();
                    console.log("reset form");
                    renderTableUserAdmin(); //hàm này dùng để gọi lại
                    //changeContent('tableuser');//goi lai tableuser
                     alert("Them ThanhCong");                    
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        function resetFormUser() {
            //console.log("Chay resetForm")
            $("#userid").val("");
            $("#username").val("");
            $("#password").val("");
            $("#role").val("");
            $("#fullname").val("");
            $("#dateofbirth").val("");
            $("#email").val("");
            $("#phonenumber").val("");
            $("#user_isactive").val("");
        }

        function deleteUserAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DeleteUserAdmin/' + ma_ao,
                type: 'DELETE',
                success: function (data){
                    console.log("Xoa Thanh Cong");
                    alert("Xoa ThanhCong");
                    //renderTableUserAdmin();
                    changeContent('tableuser');//goi lai tableuser
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        function updateUserAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DetailUserAdmin/' + ma_ao,
                type: 'GET',
                success: function (data){
                    console.log("Lay thong tin de update");
                    alert("Lay thong tin de update Thanh Cong");                    

                    $("#userid").val(data.userId);
                    $("#username").val(data.userName);
                    $("#password").val(data.password);
                    $("#role").val(data.role);
                    $("#fullname").val(data.fullName);
                    $("#dateofbirth").val(data.dateOfBirth);
                    $("#email").val(data.email);
                    $("#phonenumber").val(data.phoneNumber);
                    $("#updateat").val(data.updatedAt);
                    $("#user_isactive").val(data.isActive);
                    //renderTableUserController();
                    console.log(data);
                    //Hien model len
                    $("#userModal").modal('show');
                    //khoa field username
                    //$("#username").prop("readonly", true);//$("#username").prop("disabled", true);
                    if (data.role === "admin") {
                        $("#username").prop("readonly", false); //Mở khóa

                    } else {
                        $("#username").prop("readonly", true);  //Khóa lại

                    }
                    // $("#fullname").prop("readonly", true); Mở khóa
                    // $("#username").prop("readonly", true);
                    // $("#dateofbirth").prop("readonly", true);
                    // $("#phonenumber").prop("readonly", true);
                    // $("#email").prop("readonly", true);
                    //khoa field fullname
                    // if (data.role === "a") {
                    //     $("#fullname").prop("readonly", true); Mở khóa
                    //     $("#username").prop("readonly", true);
                    //     $("#dateofbirth").prop("readonly", true);
                    //      $("#phonenumber").prop("readonly", true);
                    //       $("#email").prop("readonly", true);
                    // } else {
                    //     $("#fullname").prop("readonly", true);  Khóa lại
                    //     $("#username").prop("readonly", true);
                    //      $("#role").prop("readonly", true);
                    //      $("#user_isactive").prop("readonly", true);
                    // }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Function PRODUCT
        function addProductAdmin() {
            let productid = $("#productid").val();
            console.log("productid: ", productid)
            let name = $("#name").val();
            let description = $("#description").val();
            let price = $("#price").val();
            let stockquantity = $("#stockquantity").val();
            let isactive = $("#product_isactive").val();            

            $.ajax({
                url:productid=="" ? '/Home/AddProductAdmin' : '/Home/UpdateProductAdmin/' + productid,
                type:productid=="" ? 'POST' : 'PUT',
                data: {
                    Name: name,
                    Description: description,
                    Price: price,
                    StockQuantity: stockquantity,
                    IsActive: isactive
                },
                success: function (data) {
                    console.log(data);
                    console.log("Lay thanh cong");
                    $("#productModal").modal('hide');// an mmodel da tao di
                    resetFormProduct();
                    //renderTableUserAdmin(); //hàm này dùng để gọi lại
                    //changeContent('tableuser');//goi lai tableuser
                    changeContent('tableproduct');
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        function resetFormProduct() {
            //console.log("Chay resetForm")
            $("#productid").val("");
            $("#name").val("");
            $("#description").val("");
            $("#price").val("");
            $("#stockquantity").val("");
            $("#product_isactive").val("");
        }

        function deleteProductAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DeleteProductAdmin/' + ma_ao,
                type: 'DELETE',
                success: function (data){
                    console.log("Xoa Thanh Cong");
                    alert("Xoa ThanhCong");
                    //renderTableUserAdmin();
                    changeContent('tableproduct');//goi lai tableuser
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        function updateProductAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DetailProductAdmin/' + ma_ao,
                type: 'GET',
                success: function (data){
                    console.log("Lay thong tin de update");
                    alert("Lay thong tin de update Thanh Cong");

                    $("#productid").val(data.productId);
                    $("#name").val(data.name);
                    $("#description").val(data.description);
                    $("#price").val(data.price);
                    $("#stockquantity").val(data.stockQuantity);
                    $("#updateat").val(data.updatedAt);
                    $("#product_isactive").val(data.isActive);
                    //renderTableUserController();
                    console.log(data);
                    //Hien model len
                    $("#productModal").modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Function DISCOUNT for PPRODUCT Update ProductDiscount
        function addDiscountProduct(ma_ao){
            console.log(ma_ao);
            let discount_productid = $("#discount_productid").val();
            let discountproduct = $("#discountproduct").val();
            let discountproduct_isactive = $("#discountproduct_isactive").val();
            $.ajax({
                url: '/Home/DetailProductAdmin/' + ma_ao,
                type: 'GET',
                data:{
                    ProductId: discount_productid,
                    DiscountId: discountproduct,
                    IsActive: discountproduct_isactive
                },
                success: function (data){
                    console.log("Lay thong tin id de update");
                    alert("Lay thong tin de update Thanh Cong");
                    $("#discount_productid").val(data.productId);//lay id
                    $("#discount_name").val(data.name);
                    $("#discountproduct_isactive").val(data.isActive);

                    //Hien model len
                    $("#discountproductModal").modal('show');
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        function updateDiscountForm() {
            let discount_productid = $("#discount_productid").val();
            let discountproduct = $("#discountproduct").val();
            let discountproduct_isactive = $("#discountproduct_isactive").val();
            $.ajax({
                url: '/Home/AddProductDiscountAdmin',
                type: 'POST',
                data: {
                    ProductId: discount_productid,
                    DiscountId: discountproduct,
                    IsActive: discountproduct_isactive
                },
                success: function (data) {
                    console.log(data);
                    console.log("Cap nhat thanh cong");
                    $("#discountproductModal").modal('hide');// an mmodel da tao di
                    resetFormDiscountforProduct();
                    //renderTableUserAdmin(); //hàm này dùng để gọi lại
                    //changeContent('tableuser');//goi lai tableuser
                    changeContent('tableproductdiscount');
                    
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        function resetFormDiscountforProduct() {
            //console.log("Chay resetForm")
            $("#discount_productid").val("");
            $("#discount_name").val("");
            //$("#description").val("");
            //$("#price").val("");
            //$("#stockquantity").val("");
            //$("#updateat").val("");
            $("#discountproduct").val("");
            $("#discountproduct_isactive").val("");
        }

        // Function ORDER
        function deleteOrderAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DeleteOrderAdmin/' + ma_ao,
                type: 'DELETE',
                success: function (data){
                    console.log("Xoa Thanh Cong");
                    alert("Xoa ThanhCong");
                    //renderTableUserAdmin();
                    //changeContent('tableuser');//goi lai tableuser
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        // Function DISCOUNT
        function addDiscountAdmin() {
            let discountid = $("#discountid").val();
            console.log("discountid: ", discountid)
            let code = $("#code").val();
            let discount_description = $("#discount_description").val();
            let discountpercent = $("#discountpercent").val();
            let startdate = $("#startdate").val();
            let enddate = $("#enddate").val();
            let createdate = $("#createdate").val();
            let updatedate = $("#updatedate").val();
            let isactive = $("#discount_isactive").val();
            $.ajax({
                url:discountid=="" ? '/Home/AddDiscountAdmin' : '/Home/UpdateDiscountAdmin/' + discountid,
                type:discountid=="" ? 'POST' : 'PUT',
                data: {
                    Code: code,
                    discountDescription: discount_description,
                    DiscountPercent: discountpercent,
                    StartDate: startdate,
                    EndDate: enddate,
                    CreateDate: createdate,
                    UpdateDate: updatedate,
                    IsActive: isactive
                },
                success: function (data) {
                    console.log(data);
                    console.log("Lay thanh cong");
                    $("#discountModal").modal('hide');// an mmodel da tao di
                    resetFormDiscount();
                    //renderTableUserAdmin(); //hàm này dùng để gọi lại
                    //changeContent('tableuser');//goi lai tableuser
                    changeContent('tablediscount');
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        function resetFormDiscount() {
            //console.log("Chay resetForm")
            $("#discountid").val("");
            $("#code").val("");
            $("#discount_description").val("");
            $("#discountpercent").val("");
            $("#startdate").val("");
            $("#enddate").val("");
            $("#discount_isactive").val("");
        }
        function deleteDiscountAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DeleteDiscountAdmin/' + ma_ao,
                type: 'DELETE',
                success: function (data){
                    console.log("Xoa Thanh Cong");
                    alert("Xoa ThanhCong");
                    //renderTableUserAdmin();
                    changeContent('tablediscount');//goi lai tableuser
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        function updateDiscountAdmin(ma_ao) {
            console.log(ma_ao);
            $.ajax({
                url: '/Home/DetailDiscountAdmin/' + ma_ao,
                type: 'GET',
                success: function (data){
                    console.log("Lay thong tin de update");
                    alert("Lay thong tin de update Thanh Cong");
                    $("#discountid").val(data.discountId);
                    $("#code").val(data.code);
                    $("#discount_description").val(data.discountDescription);
                    $("#discountpercent").val(data.discountPercent);
                    $("#startdate").val(data.startDate);
                    $("#enddate").val(data.endDate);
                    //$("#createdate").val(data.createdAt);
                    //$("#updatedate").val(data.updatedAt);
                    $("#discount_isactive").val(data.isActive);
                    //renderTableUserController();
                    console.log(data);
                    //Hien model len
                    $("#discountModal").modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}