@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* @model WebAppBanHang.ViewModels.AllTablesViewModel; *@
@model WebAppBanHang.Models.Entity.User;
<!-- Tab Index -->
<div class="row">
    <!-- Sidebar bên trái -->
    <h2 class="title">Chào mừng đến với trang Index!</h2>
    @* <div class="left-area col-md-2"> *@
    <div class="left-area">
        <h4>Danh mục</h4>
        <ul class="list-group">
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('newproducts')"> New Products </a> </li>
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('promotinalproduct')"> Promotional Products </a></li>
            <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('allproduct')"> All Products </a></li>
            <li>
                <p>Classify</p>
                <ul>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('trousers')"> Trousers </a> </li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('shirts')"> Shirts </a> </li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('shoes')"> Shoes </a> </li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('sandals')"> Sandals </a> </li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="changeContent('Accessories')"> Accessories </a> </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Phần hiển thị chính -->
    @* <div center-area class="col-md-10 text-break overflow-auto p-3" style="max-width: 100%;"> *@
    <div class="center-area">
        <h2>Danh Sách Thông tin Người Dùng</h2>
        <div id="content-area"></div>
        <!-- Nội dung riêng của Điện thoại -->
        <div class="flex justify-content-between py-2">
            <table class="table table-bordered">
                <thead id="tableHead">
                    @* <tr>
                        <th scope="col">Artical</th>
                        <th scope="col">ProDucts Name</th>
                        <th scope="col">Description</th>stockQuantity
                        <th scope="col">Price</th>
                        <th scope="col">stockQuantity</th>
                        <th scope="col">Sự kiện</th>                        
                    </tr> *@
                </thead>
                <tbody id="datatable">
                </tbody>

            </table>

        </div>
    </div>
</div>

<!-- Form Hidden -->
<!--Sign Up-->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="userid" hidden class="form-control"> <!--id mđ ẩn đi-->
                <form id="signupUserForm" method="post">
                    <div class="mb-3">
                        <label asp-for="UserName" for="username" class="form-label">Username</label>
                        <input asp-for="UserName" id="username" type="text" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" for="password" class="form-label">Password</label>
                        <input asp-for="Password" id="password" type="password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" for="confirmpassword" class="form-label">ConfirmPassword</label>
                        <input asp-for="ConfirmPassword" id="confirmpassword" type="password" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>                    
                    <div class="mb-3">
                        <label asp-for="Email" for="email" class="form-label">Email</label>
                        <input asp-for="Email" id="email" type="email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="signUpUser()">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!--Code-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function changeContent(content) { //Selection-Buttons
            console.log("Change content to: ", content);
            const contentArea = document.getElementById("content-area");
            switch (content) {
                case 'newproducts':
                    contentArea.innerHTML = '<h3>New Products</h3><p>Here are the latest products.</p>';
                    $(document).ready(function() {
                        renderTableNewProduct();
                    });
                    function renderTableNewProduct(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>                                                
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.discountPercent}</td>
                                                <td>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buyModal">Buy</button>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'promotinalproduct':
                    contentArea.innerHTML = '<h3>Promotional Products</h3><p>Check out our promotional products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'allproduct':
                    contentArea.innerHTML = '<h3>All Products</h3><p>Here is a list of all products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'trousers':
                    contentArea.innerHTML = '<h3>All Products</h3><p>Here is a list of all products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'shirts':
                    contentArea.innerHTML = '<h3>All Products</h3><p>Here is a list of all products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'shoes':
                    contentArea.innerHTML = '<h3>All Products</h3><p>Here is a list of all products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'sandals':
                    contentArea.innerHTML = '<h3>All Products</h3><p>Here is a list of all products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                case 'Accessories':
                    contentArea.innerHTML = '<h3>All Products</h3><p>Here is a list of all products.</p>';
                    $(document).ready(function() {
                        renderTableUserController();
                    });
                    function renderTableUserController(){
                        $("#tableHead").html(`
                            <tr>
                                <th scope="col">Artical</th>
                                <th scope="col">ProDucts Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Sự kiện</th>
                            </tr>
                        `);
                        $.ajax({
                            url: '/Home/NewProduct',
                            type: 'GET',
                            success: function (data){
                                $("#datatable").empty();
                                console.log("DATA CONTROLLER: ", data.length);
                                console.log("DATA CONTROLLER: ", data);
                                if(data.length > 0){
                                    data.map((item, index) => {
                                        $("#datatable").append(`
                                            <tr>
                                                <td>${index +1 }</td>
                                                <td>${item.name}</td>
                                                <td>${item.description}</td>
                                                <td>${item.price}</td>
                                                <td>${item.stockQuantity}</td>
                                                <td>${item.categoryId}</td>
                                                <td class="text-center">
                                                <a href="javascript:void(0);" class="px-2" onclick="Buy('${item.id}')">
                                                Buy
                                                </a>
                                                </td>
                                            </tr>`
                                        );
                                    });
                                }
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    break;
                default:
                    contentArea.innerHTML = "<h3>Danh Sách Thông tin Người Dùng</h3>";
            }
        }

        // Function Sign up
        function signUpUser() {
            let userid = $("#userid").val();
            console.log("userid: ", userid)
            let username = $("#username").val();
            let password = $("#password").val();
            let confirmpassword = $("#confirmpassword").val();
            let email = $("#email").val();

            $.ajax({
                url:'/Home/Signup',
                type:'POST',
                data: {
                    UserName: username,
                    Password: password,
                    Confirmpassword: confirmpassword,
                    Email: email
                },
                success: function (data) {
                    //console.log(data);
                    console.log("Sign up success");
                    // Kiểm tra nếu có lỗi mật khẩu từ ViewData
                    // console.log("Sign up success:",$(data).find("#PasswordError").length);
                    // if ($(data).find("#PasswordError").length > 0) {
                    //     Hiển thị lại modal với thông báo lỗi
                    //     $(".modal-body").html($(data).find(".modal-body").html());
                    //     $("#signupModal").modal('show');
                    // } else {
                    //     console.log("Đăng ký thành công");
                    //     $("#signupModal").modal('hide');
                    //     resetSignUp();
                    // }
                    $("#signupModal").modal('hide');
                    resetSignUp();
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        function resetSignUp() {
            //console.log("Chay resetForm")
            $("#userid").val("");
            $("#username").val("");
            $("#password").val("");
            $("#confirmpassword").val("");
            $("#email").val("");
        }
    </script>
}